div.account {
  background-color: #403B3B !important;
}

div.stat {
  background-color: #403B3B !important;
}

div.main-stats {
  background-color: #403B3B !important;
}

.stats.mt10 {
  background-color: #403B3B !important;
}

#workerWindow {
    background-image: url(/static/assets/gbETH2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px; 
}

.workerWindowStat {
    opacity: 0.0;
}

.workerWindowStat2 {
    background-color: #403b3bdb !important;
    border-radius: 6px;
    position: absolute;
    bottom: -20px;
}
.workerWindowStat3 {
    display: none;
}

