div.account {
  background-color: #403B3B !important;
}

div.stat {
  background-color: #403B3B !important;
}

div.main-stats {
  background-color: #403B3B !important;
}

.stats.mt10 {
  background-color: #403B3B !important;
}
